.four_box_section {
    background: #222;
    color: var(--color-1);
    min-height: 100vh;
}

.four_box_section .box_case {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.four_box_section .box_case > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    overflow: hidden;
    /* transform: scale(.9); */
    /* margin: 1rem; */
}

.four_box_section .fancy_text {
    font-size: clamp(2.5vw, 2rem, 3.5vw);
    font-weight: 800;
}

.four_box_section .box_case p {
    font-size: 80%;
}


.four_box_section .box_case .fancy_text {
    color: var(--color-1);
}

.four_box_section .box_case .content {
    padding: 1rem 2rem;
}

.four_box_section .box_case .button {
    margin: .75rem 0;
    font-size: 80%;
}

.four_box_section .box_case .button_cover {
    background: var(--color-6);
}


@media only screen and (max-width: 980px) {
    .four_box_section .box_case {
        grid-template-columns: 1fr;
    }

    .four_box_section .box_case > div:nth-of-type(3) {
        grid-row: 2/3;
    }
}

@media only screen and (max-width: 520px) {
    .four_box_section .box_case > div {
        grid-template-columns: 1fr;
    }

    .four_box_section .box_case > div:nth-of-type(3) .image,
    .four_box_section .box_case > div:nth-of-type(4) .image
     {
        grid-row: 1/2;
    }
}

@media only screen and (max-width: 470px) {
    .four_box_section .fancy_text {
        font-size: 1.5rem;
        font-weight: 800;
    }
}